---
import Button from '@components/Button.astro'
import Footer from '@components/Footer.astro'
import Layout from '@layouts/Layout.astro'
---

<Layout title="Jordan Papaleo: Welcome" fullscreen>
  <main>
    <h1>Jordan Papaleo</h1>

    <div class="flex-1 flex flex-col items-center justify-center">
      <h2>Engineer Leader</h2>

      <p>
        Son, husband, father,<br />
        Twirling my manly mustache,<br />
        Awed by creation
      </p>

      <Button inverse href="/writing">Let there be code</Button>
    </div>

    <Footer />
  </main>
</Layout>

<style>
  main {
    background-image: url('images/cover_background.jpg');
    @apply bg-center bg-no-repeat bg-black05 bg-cover bg-fixed text-white;
    @apply items-center flex flex-col text-center w-screen h-screen py-10;
  }

  h1 {
    @apply uppercase mt-0 leading-4 font-medium tracking-widest text-xl;
  }

  h2 {
    font-size: clamp(2rem, 10vw, 10rem);
    @apply -tracking-wide mb-8;
  }

  main p {
    @apply text-lg leading-7 mb-12 text-white;
  }
</style>
