---
import Button from '@components/Button.astro'
import Footer from '@components/Footer.astro'
import Layout from '@layouts/Layout.astro'
---

<Layout title="Jordan Papaleo: Welcome" fullscreen>
  <main
    class="flex h-screen w-screen flex-col items-center bg-black05 bg-cover bg-fixed bg-center bg-no-repeat py-10 text-center text-white"
  >
    <h1 class="mt-0 text-xl font-medium uppercase leading-4 tracking-widest">
      Jordan Papaleo
    </h1>

    <div class="flex flex-1 flex-col items-center justify-center">
      <h2 class="mb-8 -tracking-wide">Engineer Leader</h2>

      <p class="mb-12 text-lg leading-7 text-white">
        Son, husband, father,<br />
        Twirling my manly mustache,<br />
        Awed by creation
      </p>

      <Button inverse href="/about">Let there be code</Button>
    </div>

    <Footer />
  </main>
</Layout>

<style>
  main {
    background-image: url('/images/cover_background.jpg');
  }

  h2 {
    font-size: clamp(2rem, 10vw, 10rem);
  }
</style>
