---
export interface Props {
  inverse?: boolean
  large?: boolean
  small?: boolean
  text?: boolean
  type?: 'button' | 'submit' | 'reset'
  href?: string
}
const {
  href,
  inverse,
  large,
  small,
  text,
  type = 'button',
  ...restProps
} = Astro.props
---

{
  href ? (
    <a
      href={href}
      class:list={['button-component', { inverse, large, small, text }]}
      {...restProps}
    >
      <slot />
    </a>
  ) : (
    <button
      type={type}
      class:list={['button-component', { inverse, large, small, text }]}
      {...restProps}
    >
      <slot />
    </button>
  )
}

<style>
  .button-component {
    @apply text-base font-medium uppercase text-center py-3 px-5 leading-4 border-2 border-solid;
    @apply bg-background text-copy border-copy;
    @apply dark:bg-dm-background dark:text-dm-copy;

    /* @apply hover:text-white hover:bg-copy; */
    /* @apply dark:hover:text-white dark:hover:bg-copy; */
  }

  .inverse,
  .inverse:visited {
    @apply text-white bg-transparent border-white;
  }

  .inverse:hover {
    @apply text-copy bg-white border-white;
  }

  .small {
    @apply text-xs px-4 py-2;
  }

  .large {
    @apply text-lg px-3 py-4;
  }

  .text {
    @apply bg-transparent p-0 border-none hover:bg-transparent;
  }
  .text {
    @apply font-medium text-copy-light;
  }
  .text:hover {
    @apply text-black;
  }
  .text.inverse {
    @apply text-white;
  }
  .text.inverse:hover {
    @apply text-copy;
  }
</style>
