---
import { Icon } from 'astro-icon'
import PageHeadingLink from './PageHeadingLink.astro'
import HamburgerMenu from './HamburgerMenu.astro'

export interface Props {
  activeNav?: 'writing' | 'repos' | 'speaking' | 'about' | 'search'
}

const { activeNav } = Astro.props
---

<header class="page-heading">
  <h1 class="text-h1">
    <a
      class="text-copy hover:text-copy dark:text-white dark:hover:text-white hidden md:block"
      href="/"
    >
      Jordan Papaleo
    </a>
    <a
      class="text-copy hover:text-copy dark:text-white dark:hover:text-white block md:hidden"
      href="/"
    >
      JP
    </a>
  </h1>

  <nav class="main-nav">
    <PageHeadingLink
      href="/about"
      active={activeNav === 'about'}
      class="hidden md:block"
    >
      about
    </PageHeadingLink>
    <PageHeadingLink
      href="/writing"
      active={activeNav === 'writing'}
      class="hidden md:block"
    >
      writing
    </PageHeadingLink>
    <PageHeadingLink
      href="/speaking"
      active={activeNav === 'speaking'}
      class="hidden md:block"
    >
      speaking
    </PageHeadingLink>

    <button type="button" disabled class="hidden md:block">
      <Icon name="carbon:search" />
    </button>
    <button type="button" class="hidden md:block theme-button">
      <Icon name="carbon:moon" id="moon-icon" />
      <Icon name="carbon:sun" id="sun-icon" />
    </button>

    <div
      class="mobile-nav flex flex-col absolute md:hidden bg-white drop-shadow-sm dark:bg-dm-background"
    >
      <PageHeadingLink href="/about" active={activeNav === 'about'}>
        about
      </PageHeadingLink>
      <PageHeadingLink href="/writing" active={activeNav === 'writing'}>
        writing
      </PageHeadingLink>
      <PageHeadingLink href="/speaking" active={activeNav === 'speaking'}>
        speaking
      </PageHeadingLink>

      <div class="text-center">
        <button type="button" disabled>
          <Icon name="carbon:search" />
        </button>
        <button type="button" class="theme-button">
          <Icon name="carbon:moon" id="moon-icon" />
          <Icon name="carbon:sun" id="sun-icon" />
        </button>
      </div>
    </div>

    <HamburgerMenu class="md:hidden" />
  </nav>
</header>

<script>
  // import { atom } from 'nanostores'
  // const showMenu = atom(false)
  const mobileNav = document.querySelector('.mobile-nav')
  const button = document.querySelector('.hamburger-menu')
  button.addEventListener('click', (e) => {
    button.classList.toggle('active')
    mobileNav.classList.toggle('active')
    // showMenu.set(!showMenu.get())
  })

  // THEMES
  const themeButtons = document.querySelectorAll('.theme-button')
  const htmlEl = document.querySelector('html')
  themeButtons.forEach((themeButton) => {
    themeButton?.addEventListener('click', () => {
      if (htmlEl.classList.contains('dark')) {
        localStorage.setItem('theme', 'ligth')
        htmlEl.classList.remove('dark')
      } else {
        localStorage.setItem('theme', 'dark')
        htmlEl.classList.add('dark')
      }
    })
  })
</script>

<style>
  .mobile-nav {
    top: 95px;
    left: 0;
    right: 0;
    border-bottom: 1px solid gray;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.25s;
  }

  .mobile-nav.active {
    opacity: 1;
    height: 225px;
  }
  button {
    @apply w-5 h-12;
  }

  [astro-icon] {
    @apply text-copy-light;
  }

  [astro-icon]:hover {
    @apply text-link;
  }

  .page-heading {
    @apply flex mt-6 mb-10 items-center;
  }

  h1 {
    @apply m-0;
    line-height: 1;
  }

  h1 a {
    font-family: 'Arial Black';
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 2px;
    font-size: larger;
  }

  #sun-icon {
    @apply hidden;
  }

  :global(.dark) #moon-icon {
    @apply hidden;
  }
  :global(.dark) #sun-icon {
    @apply block;
  }

  .main-nav {
    @apply flex justify-end items-center gap-4;
    flex: 1 1 0%;
  }
  .main-nav a {
    @apply text-base font-normal leading-12 text-copy-light;
    @apply hover:text-copy-dark1 dark:hover:text-white;
  }

  .hide {
    @apply hidden;
  }
</style>
