---
import { Icon } from 'astro-icon'
import PageHeadingLink from './PageHeadingLink.astro'

export interface Props {
  activeNav?: 'writing' | 'repos' | 'speaking' | 'about' | 'search'
}

const { activeNav } = Astro.props
---

<header class="page-heading">
  <h1 class="text-h1">
    <a
      class="text-copy hover:text-copy dark:text-white dark:hover:text-white"
      href="/"
    >
      Jordan Papaleo
    </a>
  </h1>
  <nav class="main-nav">
    <PageHeadingLink href="/about" active={activeNav === 'about'}>
      about
    </PageHeadingLink>
    <PageHeadingLink href="/writing" active={activeNav === 'writing'}>
      writing
    </PageHeadingLink>
    <!-- <PageHeadingLink href="/repos" active={activeNav === 'repos'}>
      repos
    </PageHeadingLink> -->
    <PageHeadingLink href="/speaking" active={activeNav === 'speaking'}>
      speaking
    </PageHeadingLink>

    <button type="button" disabled>
      <Icon name="carbon:search" />
    </button>
    <button type="button" id="theme-button">
      <Icon name="carbon:moon" id="moon-icon" />
      <Icon name="carbon:sun" id="sun-icon" />
    </button>
  </nav>
</header>

<script>
  const themeEl = document.getElementById('theme-button')
  const htmlEl = document.querySelector('html')

  themeEl?.addEventListener('click', () => {
    if (htmlEl.classList.contains('dark')) {
      localStorage.setItem('theme', 'ligth')
      htmlEl.classList.remove('dark')
    } else {
      localStorage.setItem('theme', 'dark')
      htmlEl.classList.add('dark')
    }
  })
</script>

<style>
  button {
    @apply w-5 h-12;
  }

  [astro-icon] {
    @apply text-copy-light;
  }

  [astro-icon]:hover {
    @apply text-link;
  }

  .page-heading {
    @apply flex mt-6 mb-10 items-center;
  }

  h1 {
    @apply m-0;
    line-height: 1;
  }

  h1 a {
    font-family: 'Arial Black';
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 2px;
    font-size: larger;
  }

  #sun-icon {
    @apply hidden;
  }

  :global(.dark) #moon-icon {
    @apply hidden;
  }
  :global(.dark) #sun-icon {
    @apply block;
  }

  .main-nav {
    @apply flex justify-end items-center gap-4;
    flex: 1 1 0%;
  }
  .main-nav a {
    @apply text-base font-normal leading-12 text-copy-light;
    @apply hover:text-copy-dark1 dark:hover:text-white;
  }

  .hide {
    @apply hidden;
  }
</style>
