---
export interface Props {
  href: string
  active: boolean
}

const { href, active } = Astro.props
const baseClass =
  'text-base font-normal leading-12 text-copy-light hover:text-copy-dark1 dark:hover:text-white'
const activeClass =
  'border-b border-copy-dark1 border-solid dark:border-white dark:text-white'
---

<a href={href} class:list={[baseClass, { [activeClass]: active }]}><slot /></a>
