---
import PageHeading from '@components/PageHeading.astro'
import typography from '@common/typography'
import Footer from '@components/Footer.astro'
import HorzRule from '@components/HorzRule.astro'

export interface Props {
  activeNav?: 'writing' | 'repos' | 'speaking' | 'about' | 'search'
  title: string
  fullscreen?: boolean
}

const { activeNav, title, fullscreen } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <style lang="css" is:global set:html={typography.toString()}>

    </style>
  </head>

  <script is:inline>
    ;(() => {
      const localSavedTheme = localStorage.getItem('theme')
      const darkModeMediaQuery = window.matchMedia(
        '(prefers-color-scheme: dark)',
      ).matches

      let theme

      if (localSavedTheme) {
        theme = localSavedTheme
      } else if (darkModeMediaQuery) {
        theme = 'dark'
      }

      if (theme) document.querySelector('html').classList.add(theme)
    })()
  </script>
</html>
<body>
  {
    fullscreen ? (
      <div id="fullscreen-wrapper">
        <slot />
      </div>
    ) : (
      <div id="wrapper">
        <PageHeading activeNav={activeNav} />
        <main class="flex-1">
          <slot />
        </main>
        <HorzRule />
        <Footer />
      </div>
    )
  }
</body>

<style>
  html,
  body {
    @apply m-0 p-0 flex flex-col;
  }

  body {
    @apply font-sans text-base text-copy bg-background;
    @apply dark:text-dm-copy dark:bg-dm-background;
  }

  #wrapper {
    @apply mx-2 md:mx-16 lg:mx-32 xl:mx-64 min-h-screen;
  }
</style>

<style is:global>
  :disabled {
    opacity: 0.45;
  }
  * {
    @apply box-border;
  }

  a,
  p,
  li,
  h1,
  h2,
  h3,
  h4,
  button,
  [astro-icon] {
    @apply ease-out transition-colors duration-300;
  }

  *:focus {
    @apply outline-0;
  }

  p,
  ul,
  ol {
    @apply font-serif mb-4 text-p text-copy;
    @apply dark:text-dm-copy;
  }

  dl,
  ul,
  ol,
  li {
    @apply leading-6 m-0 p-0;
  }

  a {
    @apply text-link text-center font-bold font-sans uppercase cursor-pointer;
  }

  a,
  a:visited {
    @apply text-link no-underline;
  }

  a:hover {
    @apply text-primary;
  }

  code {
    @apply font-mono;
  }

  pre {
    @apply p-3 my-3;
  }
</style>
